include incl/header-database.pug

p You have the following.

<table>
<tr><th>Rad</th><th>Id</th><th>Text</th></tr>
each row, rownum in resultset
    tr
        td= rownum
        td= row.id
        <td><a href="/db/view/#{row.id}">#{row.text}</a></td>
</table>


- console.log(resultset)

include incl/footer.pug
